.fas{
    cursor: pointer;
    margin-left: 7px;
    padding: 5px;
    border: 2px solid #e8e8e8;
    background-color: #e8e8e8;
    border-radius: 12%;
}

.fas:hover{
    border: 2px solid #c7c7c7;
    background-color: #c7c7c7;
}